<div class="container pt-5">
  <h1 class="text-center">
   We have fantastic plans in <%= @user_wizard.zip_code %>!
</h1>
  <div class="p-5">
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
</div>
  </div>

<%= simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :current_step, 'step3' %>
  <%= f.input :address_1 %>
  <%= f.input :address_2 %>
  <%= f.input :zip_code %>
  <%= f.input :city %>
  <%= f.input :country %>

  <%= f.submit 'Continue' %>
<% end %>
